.AppGlassTeacher {
  display: grid;
  height: 97%;
  width: 100%;
  border-radius: 2rem;
  gap: 16px;
  grid-template-columns: 11rem auto ;

}
.outlet {
  /* margin-top: 7rem; */
  padding-inline: 1rem;
  /* overflow-y: scroll; */
  /* width: 60vw; */
  
  /* scrollbar{
    display: none;
  } */
  overflow-y: hidden;
}
