.AppGlass {
  display: grid;
  height: 97%;
  width: 100%;
  border-radius: 2rem;
  gap: 16px;
  grid-template-columns: 11rem auto 20rem;

  overflow: hidden;
}
.outlet {
  margin-top: 7rem;
  padding-inline: 1rem;
}
