.Cards {
  display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns of equal width */
    grid-template-rows: auto; /* Two rows of auto height */
    gap: 10px; /* Gap between grid items */
    padding: 20px; /* Padding for better visualization */
}
.parentContainer{
  width: 100%;
}

/* @media screen and (max-width: 1200px) {
  .Cards{
    flex-direction: column;
  }
  .parentContainer{
    height: 9rem;
  }
}

@media screen and (max-width: 768px)
{
  .Cards{
    width: 90%;
  }
} */
