.content{
    width: 90%;
    height: 90vh;
    margin: 1rem auto;
    padding: 0.5rem;
    /* border: 2px solid black; */

}
.up{
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
    margin-bottom: 2.5rem;
    span{
        color: #ff919d;
    }
}

.left{
margin-right: auto;
font-size: xxx-large;
font-family: none;
}


.logo{
    height: 30px;
    width: 40px;
    display: inline;
    margin-right: 10px;
}

.mid{

    align-items: center;

}
.right{
margin-left: auto;
/* border: 2px solid green; */
display: flex;
align-items: center;
justify-content: space-around;
width: 15vw;
}
ul{
    display: flex;
    padding: 0;
}
nav ul li{

    margin: 0 20px;
    padding: 0 2px;
    list-style: none;

    color: #FF919D;
    color: #de3f50;
    text-decoration: none;
    font-size: x-large;
    font-family: n;
    font-weight: bolder;
}
nav ul li a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.tbtn{
    width: 42%;
    background-color: #f398a2;
    background-color: #de3f50;
    font-size: larger;
    font-family: none;
    font-weight: bold;
    border-radius: 10px;
}
.nocolor{
    background-color: transparent;
    color: #030c47;
    
}
.nocolor:hover{
    color:#de3f50;
    background-color: transparent;
}

/* down part starts */

.down{
    display: flex;
    justify-content: space-between;
    /* border: solid 1px black; */
}

.intro_main_left{
    width: 60%;
    margin-right:50px ;
    
}
.intro_heading{
    font-family: none;
    text-align: center;
    span{
        color: #ff919d;
    } 
}
.intro_main_right{
    width: 40%;
}

.intro_main{
    /* border: red solid 1px; */
    height: 60vh;
    
}


.intro_left{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* text-align: center; */
    gap: 40px;
}



.intro_right{
  width: 80%;
  height: 100%; 
  overflow: hidden; /* Hide any overflow of the image */
  /* border: 1px solid #ccc; Just for demonstration */
  margin: auto;

  display: flex;
    align-items: center;
    justify-content: center;
}

.intro_image{
    width: 100%; 
    height: 100%; 
    display: block; 
}
.intro_summary{
    width: 80%;
    margin: 0 auto;
}
/* border : 95 137 116 */